
    <footer>
        <div class="main-footer-container">
            <copyright>
                <small id="copyright" >Copyrigth © A \ <span class="upside-down">A</span> Projects . <%= currentDate %></small>
            </copyright>
        </div>
    </footer>

</body>
</html>