<%- include('partials/header', { title: 'Home page'})%>

<div class="main-container">
    <h1>Home</h1>

    <a href="/students" >Students list</a>
    <a href="/groups" >Groups list</a>
    <a href="/proglangs" >Programming languages list</a>
    <a href="/lecturers" >Lecturers list</a>
</div>

<%- include('partials/footer')%>
